.nav-wrapper {
    width: 40%;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.nav-link {
    text-decoration: none;
    font-family: 'Corinthia', cursive;
    color: black;
    font-size: xxx-large;
}